#chat-controls .fa-bullseye:hover {
    color: #ff6400;
}

#chat-controls .RTB-control-icon {
    flex: 0;
    margin: 0 5px;
}

#RTB-menu .RTB-entry {
    background-color: rgba(0,0,0,0.8);
    color: #f0f0e0;
    font-size: 14px;
    margin: 2px;
    border: 1px solid #111111;
    cursor: pointer;
}

#RTB-menu .RTB-entry-text {
    margin: auto;
}

#RTB-menu .RTB-entry:hover, .RTB-entry:focus {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.RTB-window {
    display: flex;
    flex-direction: column;
    max-height: 50%;
    height: auto !important;
    position: sticky;
    margin-bottom: 8px;
}